body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: flex;
  align-items: center;
}

.footer .container {
  display: flex;
}

.button, .subscribe-button {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .subscribe-button:hover, .button:focus, .subscribe-button:focus {
  background-color: #188ce8;
}

.list-flex, .portfolio-options {
  display: flex;
  margin: -15px;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover, .nav-link:focus {
  color: #2196f3;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link.current {
  color: #2196f3;
}
.nav-link.current::after {
  position: absolute;
  right: 0;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover, .contact-link:focus {
  color: #2196f3;
}

.contact-link-icon {
  fill: currentColor;
  margin-right: 10px;
}

.envelope {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-decoration: none;
  margin-right: 93px;
}

.logo-part-one {
  color: #2196f3;
}

.logo-part-two {
  color: #000000;
}

.logo-part-two-footer {
  color: #ffffff;
}

.footer-logo {
  margin-bottom: 20px;
}

.portfolio-section {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filters {
  display: flex;
  max-width: 615px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter:hover, .filter:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-options {
  flex-wrap: wrap;
}

.option-item {
  margin: 15px;
}

.portfolio-card {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover, .portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.card-text {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 62px 24px;
  transform: translateY(100%);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover .card-text, .portfolio-card:focus .card-text {
  transform: translateY(0);
}

.card-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  background-color: #ffffff;
}

.card-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.card-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .footer-navigation {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.footer-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  text-decoration: none;
}

.footer-social-container {
  margin-right: 93px;
  padding-top: 12px;
  width: 206px;
}

.footer-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: #2196f3;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.email-container {
  padding-top: 12px;
}

.footer-form {
  display: inline-flex;
  align-items: center;
}

.email-field {
  min-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2f303a;
  margin-right: 12px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.email-field::-moz-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.email-field:-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.email-field::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: inline-flex;
  padding: 10px 28px;
}

.subscribe-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=portfolio.css.map */