.header {
  background-color: $primary-white-color;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  text-decoration: none;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color $transition-time $cubic;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link.current {
  color: $accent-color;

  &::after {
    position: absolute;
    right: 0;
    bottom: -1px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
  }
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color $transition-time $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact-link-icon {
  fill: currentColor;
  margin-right: 10px;
}

.envelope {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}
